{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Skills Survey{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

        <style>
    #view-source {
      position: absolute;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 15px;
      z-index: 900;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 5px;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }

    tr:hover{background-color:#f5f5f5}
    tr {
      font-size: 20px;
    }

    </style>

</head>
<body>

</body>
</html>
{% endblock %}
